In [4]:
# Import pandas
import pandas as pd 
# Read pandas
df_titles = pd.read_csv('./data/netflix_titles.csv')
df_shows = pd.read_csv('./data/netflix_shows.csv', sep =',', encoding='latin-1' )
# Fill NaN to count
df_shows.fillna('',inplace=True)
df_titles.fillna('',inplace=True)
# Count col netflix_titles
print("column type : " ,df_titles.type.map(lambda x: len(x)).max())
print("column title : " ,df_titles.title.map(lambda x: len(x)).max())
print("column director : " ,df_titles.director.map(lambda x: len(x)).max())
print("column cast : " ,df_titles.cast.map(lambda x: len(x)).max())
print("column country : " ,df_titles.country.map(lambda x: len(x)).max())
# print("column date_added : " ,df_titles.date_added.map(lambda x: len(x)).max())
# print("column release_year : " ,df_titles.release_year.map(lambda x: len(x)).max())
print("column rating : " ,df_titles.rating.map(lambda x: len(x)).max())
print("column duration : " ,df_titles.duration.map(lambda x: len(x)).max())
print("column list_in : " ,df_titles.listed_in.map(lambda x: len(x)).max())
print("column description: " ,df_titles.description.map(lambda x: len(x)).max())
# Count col netflix_shows
print("column title: " ,df_shows.title.map(lambda x: len(x)).max())
print("column rating: " ,df_shows.rating.map(lambda x: len(x)).max())
print("column Rating level: " ,df_shows.ratingLevel.map(lambda x: len(x)).max())
# print("column rating Description: " ,df_shows.ratingDescription.map(lambda x: len(x)).max())
# print("column Release year: " ,df_shows["release year"].map(lambda x: len(x)).max())
# print("column User rating score: " ,df_shows["user rating score"].map(lambda x: len(x)).max())
# print("column user rating size: " ,df_shows["user rating size"].max())

column type :  7
column title :  104
column director :  208
column cast :  771
column country :  123
column rating :  8
column duration :  10
column list_in :  79
column description:  248
column title:  63
column rating:  8
column Rating level:  125

In [7]:
df_titles

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,81145628,Movie,Norm of the North: King Sized Adventure,"Richard Finn, Tim Maltby","Alan Marriott, Andrew Toth, Brian Dobson, Cole...","United States, India, South Korea, China","September 9, 2019",2019,TV-PG,90 min,"Children & Family Movies, Comedies",Before planning an awesome wedding for his gra...
1,80117401,Movie,Jandino: Whatever it Takes,,Jandino Asporaat,United Kingdom,"September 9, 2016",2016,TV-MA,94 min,Stand-Up Comedy,Jandino Asporaat riffs on the challenges of ra...
2,70234439,TV Show,Transformers Prime,,"Peter Cullen, Sumalee Montano, Frank Welker, J...",United States,"September 8, 2018",2013,TV-Y7-FV,1 Season,Kids' TV,"With the help of three human allies, the Autob..."
3,80058654,TV Show,Transformers: Robots in Disguise,,"Will Friedle, Darren Criss, Constance Zimmer, ...",United States,"September 8, 2018",2016,TV-Y7,1 Season,Kids' TV,When a prison ship crash unleashes hundreds of...
4,80125979,Movie,#realityhigh,Fernando Lebrija,"Nesta Cooper, Kate Walsh, John Michael Higgins...",United States,"September 8, 2017",2017,TV-14,99 min,Comedies,When nerdy high schooler Dani finally attracts...
...,...,...,...,...,...,...,...,...,...,...,...,...
6229,80000063,TV Show,Red vs. Blue,,"Burnie Burns, Jason Salda√±a, Gustavo Sorola, G...",United States,,2015,NR,13 Seasons,"TV Action & Adventure, TV Comedies, TV Sci-Fi ...","This parody of first-person shooter games, mil..."
6230,70286564,TV Show,Maron,,"Marc Maron, Judd Hirsch, Josh Brener, Nora Zeh...",United States,,2016,TV-MA,4 Seasons,TV Comedies,"Marc Maron stars as Marc Maron, who interviews..."
6231,80116008,Movie,Little Baby Bum: Nursery Rhyme Friends,,,,,2016,,60 min,Movies,Nursery rhymes and original music for children...
6232,70281022,TV Show,A Young Doctor's Notebook and Other Stories,,"Daniel Radcliffe, Jon Hamm, Adam Godley, Chris...",United Kingdom,,2013,TV-MA,2 Seasons,"British TV Shows, TV Comedies, TV Dramas","Set during the Russian Revolution, this comic ..."
6233,70153404,TV Show,Friends,,"Jennifer Aniston, Courteney Cox, Lisa Kudrow, ...",United States,,2003,TV-14,10 Seasons,"Classic & Cult TV, TV Comedies",This hit sitcom follows the merry misadventure...

In [6]:
df_shows

,title,rating,ratingLevel,ratingDescription,release year,user rating score,user rating size
0,White Chicks,PG-13,"crude and sexual humor, language and some drug...",80,2004,82,80
1,Lucky Number Slevin,R,"strong violence, sexual content and adult lang...",100,2006,,82
2,Grey's Anatomy,TV-14,Parents strongly cautioned. May be unsuitable ...,90,2016,98,80
3,Prison Break,TV-14,Parents strongly cautioned. May be unsuitable ...,90,2008,98,80
4,How I Met Your Mother,TV-PG,Parental guidance suggested. May not be suitab...,70,2014,94,80
...,...,...,...,...,...,...,...
995,The BFG,PG,"for action/peril, some scary moments and brief...",60,2016,97,80
996,The Secret Life of Pets,PG,for action and some rude humor,60,2016,,81
997,Precious Puppies,TV-G,Suitable for all ages.,35,2003,,82
998,Beary Tales,TV-G,Suitable for all ages.,35,2013,,82
999,Growing Up Wild,G,,35,2016,80,80

# Brief Bases de donn√©es relationnelle
* Groupe 1 Bassem Fatima Ines Wiem
* Groupe 2 Xavier Jean-Pierre Myriam Roger
* Groupe 3 Caroline C√©cilia Joshua Pierre-Etienne
* Groupe 4 Dan Ludovic Nidhal Olivier Sacia
* Groupe 5 Hachem Julien Anthony Constant
## 1. R√©aliser une veille sur les les diff√©rents SGBD. Proposer un exemple concret d‚Äôutilisation pour argumenter vos explications.
* Descriptions des SGBD relationnels classiques (forces des SGBD relationnels classiques et les propri√©t√©s ACID, faiblesses des SGBD relationnels classiques)
* Quelles sont les sp√©cificit√©s des syst√®mes NoSQL
* Quelles sont les sp√©cificit√©s des syst√®mes NewSQL

## [My benchmarking SGBDR](https://github.com/ejhb/audit/blob/master/2020-11-09-SQL-rel/audit/SGBDR/SGBDR.pdf)

## 2. Dataset R√©cup√©rer les 2 datasets suivant :
### 2.1.

https://www.kaggle.com/shivamb/netflix-shows

**netflix_titles.csv : 12 colonnes (9 string, 1 ‚Äã DateTime‚Äã , 1 Integer, 1 other) (show_id, type, title, director, cast, country, date_added, release_year, rating, duration, listed_in, description)**

TV Shows and Movies listed on Netflix This dataset consists of tv shows and movies available on Netflix as of 2019. The dataset is collected from Flixable which is a third-party Netflix search engine. In 2018, they released an interesting r ‚Äã eport ‚Äã w hich shows that the number of TV shows on Netflix has nearly tripled since 2010. The streaming service‚Äôs number of movies has
decreased by more than 2,000 titles since 2010, while its number of TV shows has nearly tripled. It will be interesting to explore what all other insights can be obtained from the same dataset. Integrating this dataset with other external datasets such as IMDB ratings, rotten tomatoes can also provide many interesting findings.
### 2.2

https://www.kaggle.com/chasewillden/netflix-shows?select=Netflix+Shows.csv

**netflix_titles.csv : 7 colonnes (6 String, 1 Integer) (title, rating, ratingLevel, ratingDescription, release year, user rating score, user
rating size)**

Context: 
Netflix in the past 5-10 years has captured a large populate of viewers. With more viewers,there most likely an increase of show variety. However, do people understand the distribution of ratings on Netflix shows? Because of the vast amount of time it would take to gather 1,000 shows one by one, the gathering method took advantage of the Netflix‚Äôs suggestion engine. The suggestion engine recommends shows similar to the selected show. As part of this data set, I took 4 videos from 4 ratings (totaling 16 unique shows), then pulled 53 suggested shows per video. The ratings include: G, PG, TV-14, TV-MA. I chose not to pull from every rating (e.g. TV-G, TV-Y, etc.).
Acknowledgements The data set and the research article can be found at ‚Äã The Concept Center

## 3. Cr√©er une base de donn√©es ‚Äònetflix‚Äô

#### CREATION DATABASE
```
create database netflix_db;
use netflix_db;
```

## 4. Cr√©er une table appel√©e ‚Äònetflix_title‚Äô, importer les donn√©es provenant du fichier netflix_titles.csv

FOR LOADING DATA :

-- This settings must be on

-- show global variables like 'local_infile';

-- set global local_infile=true;

-- SET GLOBAL local_infile = 1;

-- Then to load file you must connect with :
```
sudo mysql --local-infile=1 -u root
``` 
CREATION TABLE
```
DROP TABLE IF EXISTS netflix_titles;
CREATE TABLE netflix_titles( 
show_id INT NOT NULL
,type VARCHAR(10)
,title VARCHAR(110)
,director VARCHAR(210)
,cast VARCHAR(780)
,country VARCHAR(130)
,date_added VARCHAR(20)
,release_year INT NOT NULL
,rating VARCHAR(10)
,duration VARCHAR(10)
,listed_in VARCHAR(80)
,description VARCHAR(280)
,PRIMARY KEY(show_id)
);
```
#### LOADING
```
LOAD DATA LOCAL INFILE '/home/joshua/Documents/git-workspace/audit/2020-11-09-SQL-rel/data/netflix_titles.csv'
INTO TABLE netflix_titles 
FIELDS TERMINATED BY ',' 
ENCLOSED BY '"'
LINES TERMINATED BY '\r\n'
IGNORE 1 LINES;
```
## 5. Cr√©er une table appel√©e ‚Äònetflix_shows‚Äô provenant du fichier Netflix Shows.csv

```
DROP TABLE IF EXISTS netflix_shows;
CREATE TABLE netflix_shows (
id INT NOT NULL AUTO_INCREMENT
,title VARCHAR(64)
,rating VARCHAR(9)
,ratingLevel VARCHAR(126)
,ratingDescription INT NOT NULL
,`release year` INT NOT NULL
,`user rating score` VARCHAR(4)
,`user rating size` INT NOT NULL
,PRIMARY KEY(id)
);
```
#### LOADING

```
LOAD DATA LOCAL INFILE '/home/joshua/Documents/git-workspace/audit/2020-11-09-SQL-rel/data/netflix_shows.csv'
INTO TABLE netflix_shows
CHARACTER SET latin1
FIELDS TERMINATED BY ','
ENCLOSED BY '"'
LINES TERMINATED BY '\n'
IGNORE 1 LINES(title, rating, ratingLevel, ratingDescription,`release year`,`user rating score`,`user rating size`)
;
```

## 6. Afficher tous les titres de films de la table netflix_titles dont l‚ÄôID est inf√©rieur strict √† 80000000
```
SELECT title 
, show_id
FROM netflix_titles
WHERE show_id < 80000000
;
```
## 7. Afficher toutes les dur√©e des TV Show
```
SELECT show_id
,title
,duration
FROM netflix_titles
WHERE type='TV Show';
```
## 8. R√©aliser une veille sur ces notions MySQL (https://sql.sh/fonctions/right)
1. Tri des donn√©es
2. Renommage
3. Agr√©gation
4. Jointures
5. Op√©ration

## [My Benchmarking SQL](https://github.com/ejhb/audit/blob/master/2020-11-09-SQL-rel/audit/sql/doc.md)

## 9. Afficher tous les noms de films communs aux 2 tables (netflix_titles et netflix_shows) 
```
SELECT DISTINCT nt.title
,release_year
FROM netflix_shows ns
INNER JOIN netflix_titles nt
ON ns.title = nt.title 
ORDER BY release_year ASC
;
```
## 10. Calculer la dur√©e totale de tous les TV Show de votre table netflix_titles 
```
SELECT sum(SUBSTR(duration, 1, 3))  ##### CORRECTION
FROM netflix_titles                 ##### CORRECTION
WHERE type = 'Movie';               ##### CORRECTION
```
## 11. Compter le nombre de TV Shows de votre table ‚Äònetflix_shows‚Äô dont le ‚ÄòratingLevel‚Äô est renseign√©.
```
SELECT COUNT(DISTINCT(ns.title)) as nbr_shows
FROM netflix_shows ns
INNER JOIN netflix_titles nt
ON ns.title = nt.title
WHERE ratingLevel<> ''AND type='TV Show';
```
## 12. Compter les films et TV Shows pour lesquels les noms (title) sont les m√™mes sur les 2 tables et dont le ‚Äòrelease year‚Äô est sup√©rieur √† 2016.
```
SELECT COUNT(DISTINCT ns.title) as nbr_shows
FROM netflix_shows ns
INNER JOIN netflix_titles nt
ON ns.title = nt.title
WHERE `release year` > 2016 and nt.title = ns.title;
```
## 13. Supprimer la colonne ‚Äòrating‚Äô de votre table ‚Äònetflix_shows‚Äô
```
CREATE TABLE IloveDeletingStuff as 
SELECT * 
FROM netflix_shows;

ALTER TABLE IloveDeletingStuff
DROP rating;
```
## 14. Supprimer les 100 derni√®res lignes de la table ‚Äònetflix_shows‚Äô
```
CREATE TABLE IloveDeletingStuff as 
SELECT * 
FROM netflix_shows;

DELETE FROM IloveDeletingStuff ORDER BY id DESC limit 100;
```
## 15. Le champs ‚ÄúratingLevel‚Äù pour le TV show ‚ÄúMarvel's Iron Fist‚Äù de la table ‚Äònetflix_shows‚Äô est vide, pouvez-vous ajouter un commentaire ?
```
DROP TABLE IF EXISTS IloveDeletingStuff;
CREATE TABLE IloveDeletingStuff as 
SELECT * 
FROM netflix_shows;

SET SQL_SAFE_UPDATES = 0;


UPDATE IloveDeletingStuff 
SET ratingLevel = 'Les gnocchis sont cuits'
WHERE title = "Marvel's Iron Fist";

SET SQL_SAFE_UPDATES = 1;

SELECT title
,ratingLevel
FROM IloveDeletingStuff
WHERE title = "Marvel's Iron Fist";
```
## 16. R√©aliser une veille sur le mod√®le d‚Äôanalyse et de conception Merise

## [Here's my benchmarking](https://github.com/ejhb/audit/tree/master/2020-11-09-SQL-rel/audit/merise)

## 17. Mod√©liser (Merise) votre Base de donn√©es netflix. Que pouvez-vous dire de cette mod√©lisation ?

![alt text](./merise/MCD.png "Les Gnocchis sont cuits")

![alt text](./merise/MDR.png "Les Gnocchis sont cuits")