In [2]:
### Librairies
#dieu
import numpy as np
import pandas as pd
#vis
import matplotlib
import matplotlib.pyplot as plt
import seaborn as sns
#os
import time
start_time = time.time()

In [3]:
#Remove display limiter
pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)
pd.set_option('display.width', None)
pd.set_option('display.max_colwidth', -1)
# pd.reset_option("^display") ##Reset display option

In [4]:
df = pd.read_csv("./data/timesData.csv")

In [5]:
df2016 = df[df.year == 2016].iloc[:50,:]
df2016.world_rank = [int(each.replace('=','')) for each in df2016.world_rank]
df2016 = df2016.dropna()
df2016.international_students = [str(each).replace('%','') for each in df2016.international_students]
df2016.rename(columns = {"international_students":'international_students_%'})
df2016.num_students  = [float(each.replace(',','.')) for each in df2016.num_students]
df2016['female_male_ratio'] = [str(each).split() for each in df2016.female_male_ratio]
df2016.female_male_ratio = [(float(each[0]) / float(each[2])) for each in df2016.female_male_ratio] 
df2016.female_male_ratio = pd.to_numeric(df2016.female_male_ratio, errors='coerce')
df2016

,world_rank,university_name,country,teaching,international,research,citations,income,total_score,num_students,student_staff_ratio,international_students,female_male_ratio,year
1803,1,California Institute of Technology,United States of America,95.6,64.0,97.6,99.8,97.8,95.2,2.243,6.9,27,0.492537,2016
1804,2,University of Oxford,United Kingdom,86.5,94.4,98.9,98.8,73.1,94.2,19.919,11.6,34,0.851852,2016
1805,3,Stanford University,United States of America,92.5,76.3,96.2,99.9,63.3,93.9,15.596,7.8,22,0.724138,2016
1806,4,University of Cambridge,United Kingdom,88.2,91.5,96.7,97.0,55.0,92.8,18.812,11.8,34,0.851852,2016
1807,5,Massachusetts Institute of Technology,United States of America,89.4,84.0,88.6,99.7,95.4,92.0,11.074,9.0,33,0.587302,2016
1809,7,Princeton University,United States of America,85.1,78.5,91.9,99.3,52.1,90.1,7.929,8.4,27,0.818182,2016
1810,8,Imperial College London,United Kingdom,83.3,96.0,88.5,96.7,53.7,89.1,15.060,11.7,51,0.587302,2016
1811,9,ETH Zurich – Swiss Federal Institute of Technology Zurich,Switzerland,77.0,97.9,95.0,91.1,80.0,88.3,18.178,14.7,37,0.449275,2016
1812,10,University of Chicago,United States of America,85.7,65.0,88.9,99.2,36.6,87.9,14.221,6.9,21,0.724138,2016
1813,11,Johns Hopkins University,United States of America,77.6,70.0,90.4,98.2,100.0,87.6,15.128,3.6,23,1.000000,2016
1814,12,Yale University,United States of America,86.5,64.3,87.8,97.2,43.3,87.4,11.751,4.4,20,1.000000,2016
1815,13,"University of California, Berkeley",United States of America,80.4,61.9,91.1,99.7,47.9,87.2,36.186,16.4,15,1.000000,2016
1816,14,University College London,United Kingdom,78.1,94.4,91.0,94.2,40.5,87.1,26.607,10.7,46,1.272727,2016
1818,16,"University of California, Los Angeles",United States of America,80.8,56.4,88.6,98.5,47.9,85.8,38.206,10.3,15,1.083333,2016
1819,17,University of Pennsylvania,United States of America,82.0,49.5,86.9,98.6,47.9,85.2,20.376,6.5,20,1.040816,2016
1820,18,Cornell University,United States of America,77.9,63.9,86.1,97.2,33.7,84.0,21.424,10.2,19,0.923077,2016
1822,20,Duke University,United States of America,76.0,56.5,78.0,99.0,100.0,82.7,15.172,4.8,17,0.960784,2016
1823,21,University of Michigan,United States of America,76.8,53.7,85.2,94.4,56.3,82.4,41.786,9.0,16,0.923077,2016
1824,22,Carnegie Mellon University,United States of America,67.4,57.1,88.8,99.1,57.5,82.3,11.885,13.1,35,0.639344,2016
1826,24,University of Edinburgh,United Kingdom,68.6,89.8,77.2,96.3,36.1,80.3,25.774,14.1,36,1.380952,2016
1827,25,Northwestern University,United States of America,69.8,53.9,78.4,96.5,81.2,79.5,18.334,13.8,15,0.923077,2016
1828,26,National University of Singapore,Singapore,71.7,96.2,84.5,79.4,49.8,79.2,31.592,15.5,34,0.960784,2016
1829,27,King’s College London,United Kingdom,64.5,93.8,75.8,93.8,40.1,78.2,21.394,11.4,37,1.564103,2016
1830,28,Karolinska Institute,Sweden,60.6,73.1,81.1,92.2,75.8,77.5,7.774,11.5,22,2.333333,2016
1831,29,LMU Munich,Germany,70.5,62.8,77.4,85.7,100.0,77.3,35.691,15.5,13,1.631579,2016
1832,30,New York University,United States of America,74.7,49.3,72.3,95.3,30.4,77.2,42.056,6.8,19,1.222222,2016
1833,31,École Polytechnique Fédérale de Lausanne,Switzerland,61.3,98.6,67.5,94.6,65.4,76.1,9.666,10.5,54,0.369863,2016
1834,32,University of Washington,United States of America,67.1,51.2,70.0,98.6,43.1,75.6,44.020,11.8,13,1.127660,2016
1835,33,University of Melbourne,Australia,62.0,87.1,75.5,86.6,64.6,75.4,40.128,23.7,35,1.222222,2016
1836,34,University of British Columbia,Canada,60.2,90.5,73.2,91.5,42.6,75.3,50.152,17.6,25,1.173913,2016
1837,35,KU Leuven,Belgium,59.9,68.6,76.9,87.3,100.0,74.8,42.503,41.9,18,1.173913,2016
1838,36,University of Illinois at Urbana-Champaign,United States of America,64.5,45.8,81.2,86.8,52.8,74.5,42.727,18.7,20,0.886792,2016
1839,37,Heidelberg University,Germany,68.8,62.8,69.6,88.2,68.2,74.4,28.881,24.5,17,1.222222,2016
1840,38,McGill University,Canada,66.1,85.5,72.1,78.9,40.3,72.6,31.326,13.7,23,1.272727,2016
1841,39,"University of California, San Diego",United States of America,56.9,42.9,69.8,98.7,56.7,72.2,27.233,6.5,11,0.923077,2016
1842,39,"University of California, Santa Barbara",United States of America,52.6,61.5,66.0,99.2,90.4,72.2,22.020,27.3,11,1.083333,2016
1843,41,Georgia Institute of Technology,United States of America,57.8,71.5,72.7,86.0,73.7,72.1,19.967,20.1,26,0.449275,2016
1846,44,"University of California, Davis",United States of America,60.1,58.4,72.7,84.3,57.3,71.0,35.364,13.9,13,1.173913,2016
1847,44,University of Hong Kong,Hong Kong,64.6,99.5,72.8,70.1,53.7,71.0,19.835,17.6,38,1.127660,2016
1848,46,University of Texas at Austin,United States of America,59.3,31.7,69.7,92.2,63.1,70.3,49.427,17.4,9,1.040816,2016
1849,47,Tsinghua University,China,73.3,39.5,83.0,58.8,100.0,70.0,39.763,13.7,10,0.470588,2016
1850,47,Wageningen University and Research Center,Netherlands,52.6,70.3,66.9,87.8,100.0,70.0,9.248,17.0,21,1.272727,2016
1852,50,University of Wisconsin-Madison,United States of America,65.1,33.0,68.2,86.6,48.5,69.7,39.655,10.8,11,1.040816,2016